{{ header }}
<link href="view/stylesheet/mundipagg/mundipagg.css" type="text/css" rel="stylesheet" />

{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" id="submit-form" form="plans-form" data-template="{{ selectedTemplateRoot.template.id }}"
                        data-toggle="tooltip" title="" class="btn btn-primary btn-save"
                        data-original-title="Salvar"><i class="fa fa-save"></i></button>
                <button type="button" class="btn btn-danger" title="Cancelar"><i class="fa fa-ban"></i></button>
            </div>
            <h1><i class="fa fa-tags"></i> {{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>

            {%  if formErrors %}
                <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> Warning: Please check the form carefully for errors!
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <ul>
                    {% for error in formErrors %}
                        <li>{{ error }} </li>

                    {% endfor %}
                    </ul>
                </div>
            {%  endif %}
        </div>
    </div>

    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list"></i> {{ heading_title }}</h3>
            </div>

            <div class="panel-body">
		       <ul class="nav nav-tabs">
                   {% if recurrenceSettings.recurrence_subscriptionByPlan == '1' and (not selectedTemplateRoot or (selectedTemplateRoot and not selectedTemplateRoot.template.isSingle)) %}
		               <li class="active"><a href="#tab-plans" data-toggle="tab" title="{{ general.label }}">Plans</a></li>
                   {% endif %}
                   {% if recurrenceSettings.recurrence_singleSubscription == '1' and (not selectedTemplateRoot or (selectedTemplateRoot and selectedTemplateRoot.template.isSingle)) %}
		               <li 
                           {% if recurrenceSettings.recurrence_singleSubscription == '1' and recurrenceSettings.recurrence_subscriptionByPlan != '1' %}
                           class="active"
                           {% endif %}
                         ><a id='mp-tab-handler-single' href="#tab-single" data-toggle="tab" title="{{ credit_card.label }}">Single</a></li>
                   {% endif %}
               </ul>

		       <div class="tab-content">

                   {% if recurrenceSettings.recurrence_subscriptionByPlan == '1' and (not selectedTemplateRoot or (selectedTemplateRoot and not selectedTemplateRoot.template.isSingle)) %}
		           <div class="tab-pane active" id="tab-plans">
                       <div class="panel-heading">
                           <h3>Plans</h3>
                       </div>
                       <div class="panel-body">
                           <form class="form-horizontal" method="post" id="plans-form" name="plans-form" enctype="multipart/form-data"
                                 action='{{ saveAction }}'
                           >
                               <div class="col-sm-8">
                                   {%  set formId = 'plans-form' %}
                                   {% include formPlan %}
                               </div>
                           </form>
                       </div>
                   </div>
                   {% endif %}
                   {% if recurrenceSettings.recurrence_singleSubscription == '1' and (not selectedTemplateRoot or (selectedTemplateRoot and selectedTemplateRoot.template.isSingle)) %}
                   <div
                           {% if recurrenceSettings.recurrence_singleSubscription == '1' and recurrenceSettings.recurrence_subscriptionByPlan != '1' %}
                           class="tab-pane active"
                           {% else %}
                           class="tab-pane"
                           {% endif %}
		                id="tab-single">
                       <div class="panel-heading">
                           <h3>Single</h3>
                       </div>
                       <div class="panel-body">
                           <form class="form-horizontal" method="post" id="single-form" name="single-form" enctype="multipart/form-data"
                                 action='{{ saveAction }}'
                           >
                               <div class="col-sm-8">
                                   {%  set formId = 'single-form' %}
                                   {% include formSingle %}
                               </div>
                           </form>
                       </div>
                   </div>
                   {% endif %}
               </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="view/script/mundipagg/lib/jquery-ui.min.js"></script>
<style>@import "view/stylesheet/mundipagg/lib/jquery-ui.min.css"; </style>

<div id="dialog-confirm" title="Deseja atualizar os produtos deste template?"></div>
<script>

    $('.installment').hide();
    $('#checkbox-creditcard').change(function () {
            return $('.installment').toggle();
    });

    $('.btn-save').on('click', function(e) {
        e.preventDefault();
        var url = window.location.href;
        var action = $('#' + '{{ formId }}').attr('action');
        var updateChildren = "false";
        var selected = false;
        if ((url.indexOf("action=update") > 0)) {
            jQuery( "#dialog-confirm" ).dialog({
                resizable: false,
                height: "auto",
                width: 400,
                modal: true,
                buttons: {
                    "Sim": function() {
                        selected = true;
                        updateChildren = "true";
                        console.log($('#' + '{{ formId }}'));
                        $( this ).dialog( "close" );
                    },
                    'Não': function() {
                        selected = true;
                        $( this ).dialog( "close" );
                    }
                },
                close: function() {
                    if (selected) {
                        $('#' + '{{ formId }}').attr('action', action + "&updateChildren=" + updateChildren);
                        $('#' + '{{ formId }}').submit();
                    }
                }
            });
        }
    })

    {% if selectedTemplateRoot.template.isSingle %}
        $(document).ready(function(){
            $('#mp-tab-handler-single').click();
        });
    {% endif %}
    $(document).ready(function(){
        {% for name,value in formData %}
            {% if value is not iterable %}
                document.getElementsByName('{{ name }}').forEach(function(element){
                    element.value = '{{ value }}';
            });
            {% endif %}
        {% endfor %}

        {% for method in formData.payment_method %}
            document.getElementsByName('payment_method[]')
                .forEach(function (element) {
                    if ( '{{ method }}' == element.value) {
                        element.checked = true;
                    }
                });
        {% endfor %}

        {% for key,interval in formData.intervals %}

            var repetitions = {};
            {% for type,value in interval %}
                repetitions['{{ type }}'] = '{{ value }}';
                document.getElementsByName("intervals[{{ key }}][{{ type }}]")
                    .forEach(function (element) {
                        element.value = '{{ value }}'
                    });

            {% endfor %}

            $('#cycles').val(repetitions.cycles);
            $('.mp-single-frequency').val(repetitions.frequency);
            $('.mp-single-interval').val(repetitions.type);
            $('.bs-dropdown-to-select').click();
            $('.mp-discount-type-link[data-value="' + repetitions.discountType +'"]').click();
            $('#discount').val(repetitions.discountValue);
            $('.btn-add-frequency').click();
        {% endfor %}
    });
</script>

{{ footer }}